<div class="containerParent">
  <div class="header">
    <h3>Scrolling Sample</h3>
  </div>

  <div
    id="divNavigationContainer"
    #divNavigationContainer
    class="divNavigationContainer"
  >
    <button
      mat-raised-button
      [disabled]="!scrollLeft"
      color="primary"
      (click)="left()"
    >
      <
    </button>

    <div class="divBtnNavigation"></div>

    <div class="containerScrollItems">
      <div class="scrollItems">
        <img src="/assets/img1.png" alt="image" class="item">
        <img src="/assets/img2.png" alt="image" class="item">
        <img src="/assets/img3.png" alt="image" class="item">
        <img src="/assets/img4.png" alt="image" class="item">
        <img src="/assets/img5.png" alt="image" class="item">
        <img src="/assets/img6.png" alt="image" class="item">
        <img src="/assets/img7.png" alt="image" class="item">
        <img src="/assets/img8.png" alt="image" class="item">
      </div>
    </div>

    <button
      mat-icon-button
      [disabled]="!scrollRight"
      color="primary"
      (click)="right()"
    >
      >
    </button>
  </div>
</div>
